/* NavigationBar.css */
body {
  height: 100%; /* Ajusta la altura del cuerpo */
}

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a97bf;
  transition: width 0.3s;
  overflow-x: hidden;
  padding-top: 60px; /* Ajustado para espacio en la parte superior */
  border-radius: 0 9px 9px 0;
}

.sidebar.open {
  width: 250px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin: 15px 0;
}

.sidebar-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  display: block;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.sidebar-links a:hover {
  background-color: #0056b3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px; /* Ajusta el padding según tus preferencias */
  background-color: #2a97bf; /* Color de fondo de la barra de navegación (ajusta según tus preferencias) */
  color: #fff; /* Color del texto en la barra de navegación */
 position: fixed;
  top: 0; /* Hace que la barra de navegación se quede pegada en la parte superior */
 width: 100%;
  z-index: 1000; /* Ajusta según sea necesario para que la barra de navegación aparezca por encima del contenido */
}
/* Ajusta según sea necesario */



.close-button {
  background: none;
  border: black;
  color: black;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  color: #ffcc00;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(3, 2, 2);
  padding: 5px;
  margin-right: 10px; /* Añadido espacio entre el icono y el borde */

}

/* Añadido un estilo para el enlace activo */
.sidebar-links a.active {
  background-color: #0056b3;
}

/* Estilos para la sección de búsqueda en la barra de navegación */
.navbar-search {
  display: flex;
  align-items: center; /* Centra verticalmente la sección de búsqueda */
  justify-content: center; /* Centra horizontalmente la sección de búsqueda */
  flex-grow: 1; /* Permite que la sección de búsqueda crezca y ocupe el espacio disponible */
}

/* Estilos para el input de texto en la sección de búsqueda */
.navbar-search input {
  padding: 10px; /* Ajusta el padding según tus preferencias */
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 70%; /* Ajusta según sea necesario */
}

/* Estilos para el botón de búsqueda en la sección de búsqueda */
.navbar-search button {
  padding: 11px; /* Ajusta el padding según tus preferencias */
  background-color: #d4dee8; /* Color de fondo del botón de búsqueda */
  color: #fff; /* Color del texto del botón de búsqueda */
  border: 1px solid #007bff; /* Borde del botón de búsqueda */
  border-radius: 3px;
  cursor: pointer;
}

.navbar-search button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre el botón de búsqueda */
  color: #fff; /* Cambia el color del texto al pasar el ratón sobre el botón de búsqueda */
}

@media screen and (max-width: 600px) {
  .navbar {
    max-width: 100%; /* Cambiado para ocupar el 100% del ancho en pantallas pequeñas */
  }
}
